.nav {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
}
ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.hr {
    width: 1px;
    height: 70px;

    margin: 0 40%;

    border: 1px solid #2D2D2D;
    background-color: #2D2D2D;
}

.hidden {
    display: none;
}

.active {
    color: #04F1FF;
}
